/*
 * result loader
 */

.blocked-results-table-wrapper {
    position: relative;
}

#blocked-results-loader {
    display: none;
    width: 100%;
    height: 100%;
    background: #fff url("img/ajax-loader.gif") center center no-repeat;
	color: dodgerblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
	min-height: 25px;
}

/*
 * result table styles
 */

.url-results tr.ok {
	background: lightgreen;
}

.url-results tr.prior-block {
	background: lightyellow;
}

.url-results tr.blocked {
	background: lightpink;
}

.url-results tr.dns-error, .url-results tr.error {
	background: crimson;
}

/*
 * result permalinks
 */

.permlink a {
	display: inline-block;
	border-right: 1px solid;
	padding: 0 1em 0 0;
	margin-right: 1em;
}

.permlink a:last-child {
	border: none;
	margin: 0;
}

/*
 * statistics
 */

.blocked-item {
	margin-bottom: 2em;
	overflow: hidden;
}

.blocked-item .date {
	display: block;
	font-size: 1.2em;
}

.blocked-item .blocked_sites {
	font-size: 2.6em;
	font-weight: bold;
	line-height: 1em;
}

.blocked-item .blocked_sites i {
	display: block;
	font-size: 0.65em;
	font-style: normal;
	font-weight: normal;
}

.blocked-item .blocked_sites_percent {
	float: left;
	margin-right: 1em;
	display: block;
	width: 100px;
	height: 65px;
	padding-top: 35px;
	color: #de2d3c;
	font-size: 1.5em;
	text-align: center;
	border-radius: 50px;
	border: 2px dashed #eee;
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
